<%= render "layouts/header" %>

<h1>Editar produto</h1>

<div id="produto">
    <div class="card-produto">
        <div class="form-container">
            <div class="form">
                <%= render 'form', produto: @produto %>   
            </div>
        </div>
        <div class="horizontal-line"></div>
        <div class="options-row">
            <br>
            <%= link_to 'Voltar', produtos_path, class:"waves-effect waves-light btn-small" %>
            <br>
        </div> 
    </div>
</div>
