// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body #sign-up{
    z-index:5;
    background-color: #ee9617;
    background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
    width:100%;
    height:100%;
    padding-top: 5%;
}

.image{
    width: 100%;
}

.image-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    a:hover, a:focus {
        color: #e65100;
        background-color:white!important;
    } 
}

.root-logo{
    font-size: 3rem;
}

.form{
    width: 60%;
}

.form-container{
    width: 100%;
    margin-right: 10%;
    background: white;
    display: inline-flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.8rem;
}

.options-row{
    width: 100%;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.3rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-sign-up{
    width: 60%;
    margin-left: 20%;
    // padding: 10%;
}

.horizontal-line{
    background-color: red;
    height:2px;
    width:50px;    
}

.btn-small{
    width: fit-content; 
}

.field_with_errors input{
    margin: 0!important;
    width: 100%!important;
    border-bottom: 1px solid red !important;
}

.field_with_errors{
    margin: 0!important;
    width: 100%!important;
    background: white;
}

.helper-text{
    color: red;
}

.waves-effect:visited{
    color: white!important;
}